<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <span class="navbar-text">
              Navbar text with an inline element
            </span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
