<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ingenieria-USAC{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="img/favicon.ico">
        
        
        {% block stylesheets %}
            <!-- App css -->
            <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/app.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                {% block topbar %}
                    {{include('/partials/topbar.html.twig')}}
                {% endblock %}
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            {% block sidebar %}
                {{include('/partials/barraEstudiante.html.twig')}}
            {% endblock %}
            <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <div class="container-fluid"></div>
                {% block container %}

                <div class="row justify-content-md-center">
		            <div class="col-md-8 col-sm-auto">
                
                        <h2>Solicitud de reunion con revisor de Trabajo de Graduacion</h2>
                        <p>
                        Formulario de agendacion de reunion con revisor de escuela para revision de trabajo<br>
                        de graduacion.<br>
                        </p>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                            <label for="lugar">Lugar o Sala:</label>
                            <input class="form-control" type='text' name='lugar' id='lugar' placeholder="Escriba el lugar de reunion..."
                                value="" required>
                            </div>

                            <div class="form-group col-md-6">
                            <label for="fecha_hora">Fecha y Hora de Reunion:</label>
				            <input type="datetime-local" id="fecha_hora" name="fecha_hora" class="form-control" />
                            </div>
                        </div>

                        <div class="form-row">
                            
                            <div class="form-group col-md-4">
                                <label for="materia" class="required">Interesados Aprobados:</label>
                                <select class="form-control" name="materia" id="materia" required>
                                    <option value="0" selected>seleccione uno de los Interesados...</option>
                                    <option value="Asesor Individual">Interesado 1</option>
                                    <option value="Asesor Institucion">Interesado 2</option>
                                    <option value="Asesor Institucion">Interesado 3</option>
                                    <option value="Interesados">Interesado N</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="comentario">Motivo de Reunion:</label>
                            <textarea class="form-control" type='text' name='comentario' id='comentario' placeholder="Escriba su motivo de solicitud..."
                                value="" required></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="submit" name="confirmar" id='confirmar' value="Confirmar solicitud" 
                                    class="btn btn-success">
                            </div>
                        </div>

                    </div>
                </div>           
                {% endblock %}
                {% block footer %}
                    {{include('/partials/footer.html.twig')}}
                {% endblock %}
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->
        
        {% block javascripts %}
            <!-- Vendor js -->
            <script src="/assets/js/vendor.js"></script>
            <!-- App js-->
            <script src="/assets/js/app.js"></script>
        {% endblock %}
        
    </body>
</html>