<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ingenieria-USAC{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="img/favicon.ico">
        
        
        {% block stylesheets %}
            <!-- App css -->
            <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/app.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                {% block topbar %}
                    {{include('/partials/topbar.html.twig')}}
                {% endblock %}
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            {% block sidebar %}
                {{include('/partials/barraEstudiante.html.twig')}}
            {% endblock %}
            <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <div class="container-fluid"></div>
                {% block container %}

                <div class="row justify-content-md-center">
		            <div class="col-md-8 col-sm-auto">
                
                        <h2>Agragar titulo de trabajo de graduacion</h2>
                        <p>
                        En este formulario el estudiante debe ingregar un titulo para el trabajo de graduacion<br>
                        este debe ser unico y propuesto, debe de ser aprobado por el catedratico del curso de Seminario.
                        </p>

                        <div class="form-group col-md-6">
						<label for="correo1">Titulo de trabajo de graduacion:</label>
						<textarea class="form-control" type='text' name='titulo' id='titulo' placeholder="titulo..."
							value="" required></textarea>
					    </div>

                        <div class="form-group col-md-6">
                        <label for="correo1">Comentario para catedratico:</label>
						<textarea class="form-control" type='text' name='comentario' id='comentario' placeholder="Escriba su comentario..."
							value="" required></textarea>
					    </div>

                        <div class="form-group col-md-6">
                            <input type="submit" name="confirmar" id='confirmar' value="Confirmar titulo" 
                                class="btn btn-success">
			            </div>

                    </div>
                </div>           
                {% endblock %}
                {% block footer %}
                    {{include('/partials/footer.html.twig')}}
                {% endblock %}
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->
        
        {% block javascripts %}
            <!-- Vendor js -->
            <script src="/assets/js/vendor.js"></script>
            <!-- App js-->
            <script src="/assets/js/app.js"></script>
        {% endblock %}
        
    </body>
</html>