<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ingenieria-USAC{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="img/favicon.ico">
        
        
        {% block stylesheets %}
            <!-- App css -->
            <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/app.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                {% block topbar %}
                    {{include('/partials/topbar.html.twig')}}
                {% endblock %}
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            {% block sidebar %}
                {{include('/partials/barraEstudiante.html.twig')}}
            {% endblock %}
            <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <div class="container-fluid"></div>
                {% block container %}

                <div class="row justify-content-md-center">
		            <div class="col-md-8 col-sm-auto">

                        <h2>Progreso del Proceso de Graduacion</h2>
                        <p>
                        Durante el desarrollo del proceso de graduacion se visualizan las siguientes fases por las cuales<br>
                        el estudiante debe completar el 100% del progreso para poder culminar la carrera universitaria dentro<br>
                        de la Facultad de Ingenieria de la Universidad de San Carlos de Guatemala.
                        </p>

                        <div class="form-row">
                            <div class="col">
                                <h5>Curso Seminario</h5>
                                <input type="text" value="100" class="dial">
                                <h5>% Porcentaje</h5>
                                <a href = "{{path('formularioTituloTrbajoDeGraduacion') }}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmar">
                                    <i class="fas fa-search"></i>
                                    Resumen
                                </a>
                            </div>

                            <div class="col">
                                <h5>Seguimiento</h5>
                                <input type="text" value="80" class="dial">
                                <h5>% Porcentaje</h5>
                                <a href = "#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmar">
                                    <i class="fas fa-search"></i>
                                    Resumen
                                </a>
                            </div>

                            <div class="col">
                                <h5>Finalizacion</h5>
                                <input type="text" value="10" class="dial">
                                <h5>% Porcentaje</h5>
                                <a href = "#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmar">
                                    <i class="fas fa-search"></i>
                                    Resumen
                                </a>
                            </div>
                        </div>

                        

                    </div>
                </div>
        
                {% endblock %}
                {% block footer %}
                    {{include('/partials/footer.html.twig')}}
                {% endblock %}
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->
        
        {% block javascripts %}
            <script src="/assets/js/jquery.js"></script>
            <script src="/assets/js/jquery.knob.js"></script>
            <script>
                $(document).ready(function() {
                //$(".dial").knob();
                $('.dial').knob({
                    'min':0,
                    'max':100,
                    'width':100,
                    'height':100,
                    'displayInput':true,
                    'fgColor':"#0368AD ",
                    'release':function(v) { },
                    'readOnly':true
                });
                });
            </script>
        {% endblock %}
        
    </body>
</html>